<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 th:replace="user/base::layout(~{::section})" >
<head>
<meta charset="ISO-8859-1">

</head>
<body>
	<section>
	<div class="card mr-3 ml-3" >
			<div th:if="${conta}" class="card-body" >
				<div class="container text-center">
					<img class="my_profile"
						style="height: 200px; width: 200px; border-radius: 50%"
						th:src="@{'/image/'+${conta.image}}" alt="">
					<h3 class="mt-3">
						<span th:text="${conta.name}"></span>(<span
							th:text="${conta.secondname}"></span>)
					</h3>


					<table class="table">
						<thead>
							<tr>
								<th scope="col">#ID</th>
								<th scope="col"><span th:text="${conta.cid}"></span></th>
								
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Email</th>
								<td ><span th:text="${conta.email}"></span></td>
								
							</tr>
							<tr>
								<th scope="row">Phone</th>
								<td ><span th:text="${conta.phone}"></span></td>
								
							</tr>
							<tr>
								<th scope="row">Work</th>
								<td ><span th:text="${conta.work}"></span></td>
								
							</tr>
						</tbody>
						
					
					</table>
					
						<div class="description">
						
						<th:bloack th:utext="${conta.description}"></th:bloack>
						</div>
						
						<div class="container mt-3">
						<button th:onclick="|deleteContact(${conta.cid})|" class="btn btn-danger btn-block">Delete</button>
									<form method="post" th:action="@{'/user/update-contact/'+${conta.cid}}" class="mt-2" >
								<button  class="btn btn-success btn-block">Update</button>
								</form>
						</div>
				</div>
			</div>
		</div>
		<h1 th:unless="${conta}">Permissaion denained</h1>
	</section>
</body>
</html>