<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   th:replace="user/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<section>
			<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body text-center">
						<h3>Change Password</h3>
						
						<form th:action="@{/user/changepass}" method="post" class="mt-4">
							<div class="form-group">
								<input type="text" class="form-control" name="old" placeholder="Enter old password">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="new" placeholder="Enter new password">
							</div>
							<div class="container text-center">
								<button type="submit" class="btn btn-success">Change</button>
								<button type="reset" class="btn btn-success">Reset</button>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script>
	$(document).ready(()=>{
		$(".item").removeClass("active");
		$("#setting").addClass("active");
	})
	</script>		
		</section>
</body>
</html>