<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">

</head>
<body>
	<section>
		<div id="login" class="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center mt-5">
					<div id="login-column" class="col-md-6" style="background: #ffffff">
						<div id="login-box" style="height: 250px" class="col-md-12">
							<h3 class="text-center mt-3">Youe Registred Mail</h3>

							<div th:if="${session.message}" class="container">
								<div class="alert alert-danger my-2 text-center" role="alert">
									<span th:text="${session.message}"></span>
								</div>
							</div>
								<form th:action="@{/senderotp}" method="post">
									<div class="form-group">
										<input type="email" placeholder="Enter email here..."
											name="email" class="form-control">
									</div>

									<div class="container mt-3 text-center">
										<button class="btn btn-warning">Send OTP</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
</body>
</html>