<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container ">
			<div class="row" style="margin-top: 70px;">
				<div class="col-md-6 offset-md-3 pd-2"
					style="background: white; padding: 30px;">
					<form role="form" th:action="@{/dologin}" method="post">
						<fieldset>
							<h2>Please Login</h2>

							<div th:if="${param.error}" class="alert alert-danger">Invalid
								username or password</div>
							<div th:if="${param.logout}" class="alert alert-success">Successfully
								loged out</div>
							<div th:if="${param.change}" class="alert alert-success">
								<p th:text="${param.change}"></p>
							</div>
							<hr class="colorgraph">
							<div class="form-group">
								<input type="email" name="username" id="email"
									class="form-control input-lg" placeholder="Username">
							</div>
							<div class="form-group">
								<input type="password" name="password" id="password"
									class="form-control input-lg" placeholder="Password">
							</div>

							<hr class="colorgraph">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<input type="submit" class="btn btn-lg btn-success btn-block"
										value="Log In">
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<a href="/visitSignUp" class="btn btn-lg btn-primary btn-block">Register</a>
								</div>

								<div class="container text-center">
									<a href="/forgot">Forgot password</a>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>