<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">

</head>
<body>


	<section>
		<div id="login" class="login">
			<div class="container" >
				<div id="login-row"
					class="row justify-content-center align-items-center mt-5">
					<div id="login-column" class="col-md-6" style="background:#ffffff">
						<div id="login-box" style="height: 250px" class="col-md-12">
							<div class="alert alert-success mt-4" role="alert">
						Enter New Password
							</div>
							 
							<form th:action="@{/change-pass}"  method="post">
								<div class="form-group">
									<input type="text" placeholder="Enter new password here..."
										name="newpass" class="form-control">
								</div>

								<div class="container mt-3 text-center">
									<button type="submit" class="btn btn-warning">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>