<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">

</head>
<body>
	<section>
		<div id="login" class="login">
			<div class="container" >
				<div id="login-row"
					class="row justify-content-center align-items-center mt-5">
					<div id="login-column" class="col-md-6" style="background:#ffffff">
						<div id="login-box" style="height: 250px" class="col-md-12">
							<div class="alert alert-success mt-4" role="alert">
							Check your email for OTP
							</div>
							<div th:if="${session.message1}" class="container">
								<div class="alert alert-danger my-2 text-center" role="alert">
									<span th:text="${session.message}"></span>
								</div>
							</div>  
							<form th:action="@{/mapt}"  method="post">
								<div class="form-group">
									<input type="number" placeholder="Enter OTP here..."
										name="otp" class="form-control">
								</div>

								<div class="container mt-3 text-center">
									<button type="submit" class="btn btn-warning">Verify</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>